In [27]:
print('hola mundo')

hola mundo

In [28]:
from ldap3 import Server, Connection, ALL

# Configurar la conexión LDAP
server = Server('ldap.example.com', get_info=ALL)

# Configurar la conexión
conn = Connection(server, user='binteak', password='Torcatorca1')
print(conn)
# # Intentar conectar
# if not conn.bind():
#     print('Error de conexión:', conn.result)
# else:
#     print('Conexión exitosa')

ldap://ldap.example.com:389 - cleartext - user: binteak - not lazy - unbound - closed - <no socket> - tls not started - not listening - SyncStrategy - internal decoder

In [22]:
import mysql.connector

# Configurar la conexión con el host, puerto y nombre de la base de datos conocidos
conn = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="binteak",
    password="Torcatorca1",
    database="esquemapeliculas"
)

# Verificar si la conexión fue exitosa
if conn.is_connected():
    print("Conexión establecida con éxito")
    # Aquí puedes continuar con tus operaciones en la base de datos
else:
    print("Error: No se pudo conectar a la base de datos")

# Crear un cursor para ejecutar consultas
cursor = conn.cursor()

# Ejecutar una consulta SQL
consulta = "SELECT * FROM peliculas" #si no pones database en el conn, esquemapeliculas.peliculas
cursor.execute(consulta)

# Obtener los resultados de la consulta
resultados = cursor.fetchall()

# Mostrar los resultados
for fila in resultados:
    print(fila)

# Cerrar el cursor y la conexión
cursor.close()
conn.close()

Conexión establecida con éxito
(1, 'Pulp Fiction', 1994, 'Quentin Tarantino', 'Crimen')
(2, 'The Shawshank Redemption', 1994, 'Frank Darabont', 'Drama')
(3, 'The Godfather', 1972, 'Francis Ford Coppola', 'Drama')
(4, 'The Irishman', 2019, 'Martin Scorsese', 'Crimen')
(5, 'Django Unchained', 2012, 'Quentin Tarantino', 'Drama')

In [25]:
import mysql.connector
import pandas as pd

# Establecer conexión a la base de datos
conn = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="binteak",
    password="Torcatorca1",
    database="esquemapeliculas"
)

# Verificar si la conexión fue exitosa
if conn.is_connected():
    print("Conexión establecida con éxito")

    # Ejecutar consulta SQL para obtener los datos de la tabla
    consulta = "SELECT * FROM Peliculas"
    df = pd.read_sql(consulta, conn)

    # Mostrar el DataFrame resultante
    print("DataFrame obtenido de la tabla Peliculas:")
    print(df)

else:
    print("Error: No se pudo conectar a la base de datos")

# Cerrar la conexión
conn.close()

Conexión establecida con éxito
DataFrame obtenido de la tabla Peliculas:
   id                    titulo   año                 autor  genero
0   1              Pulp Fiction  1994     Quentin Tarantino  Crimen
1   2  The Shawshank Redemption  1994        Frank Darabont   Drama
2   3             The Godfather  1972  Francis Ford Coppola   Drama
3   4              The Irishman  2019       Martin Scorsese  Crimen
4   5          Django Unchained  2012     Quentin Tarantino   Drama

C:\Users\CL763LJ\AppData\Local\Temp\ipykernel_21044\1130363412.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(consulta, conn)

In [ ]:
#Diferentes tipos de queries
#Seleccionar todos los registros de la tabla Peliculas:
consulta = "SELECT * FROM Peliculas"

#Seleccionar solo ciertas columnas (por ejemplo, id, titulo, año):
consulta = "SELECT id, titulo, año FROM Peliculas"

#Filtrar por año específico (por ejemplo, todas las películas del año 2020):
consulta = "SELECT * FROM Peliculas WHERE año = 2020"

#Ordenar por año de lanzamiento de forma ascendente:
consulta = "SELECT * FROM Peliculas ORDER BY año ASC"

#Contar el número total de películas en la tabla:
consulta = "SELECT COUNT(*) FROM Peliculas"

#Obtener las películas agrupadas por género con la cantidad de películas en cada género:
consulta = "SELECT genero, COUNT(*) as cantidad FROM Peliculas GROUP BY genero"

#Encontrar las películas dirigidas por un autor específico (por ejemplo, "Quentin Tarantino"):
consulta = "SELECT * FROM Peliculas WHERE autor = 'Quentin Tarantino'"

#Buscar películas que contengan cierta palabra en el título (por ejemplo, "Star Wars"):
consulta = "SELECT * FROM Peliculas WHERE titulo LIKE '%Star Wars%'"

In [26]:
df

   id                    titulo   año                 autor  genero
0   1              Pulp Fiction  1994     Quentin Tarantino  Crimen
1   2  The Shawshank Redemption  1994        Frank Darabont   Drama
2   3             The Godfather  1972  Francis Ford Coppola   Drama
3   4              The Irishman  2019       Martin Scorsese  Crimen
4   5          Django Unchained  2012     Quentin Tarantino   Drama